
.dynamicTabsContainer{
    background-color: rgba(10, 83, 155, 0.84);
}

.tabsContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 8vh;

}
.btn-group{
    display: flex;
    justify-items: center;
    flex-grow: 1;
}
.tab{
    flex-grow: 1;
    color: white;
    border: 5px solid #ccc;
    border-radius: 20px;
    margin-top: 5px;
    background: rgba(24, 163, 181, 0.6);
}
.tab.active{
    background: #073062;
    border-color: #ff4444;
    font-weight: bold;
}
.tab:hover{
    background-color: #c15555;
}
.component-content-container{
    flex-grow: 1;
    height: 85vh;
}