.companyContainer{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.companyHeader{
    display: flex;
    flex-direction: row;
    border-width: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.nameContainer{
    display: flex;
    color: white;
    border-color: white;
    border-style: solid;
    user-select: none;
    font-size: 20px;
    width: 20vw;
    margin: 10px;
    justify-content: center;
}
.customer-component{
    overflow-y: scroll;
    height: 75vh;
}