/* Add your styles here */
body{
    height: 100vh;
    overflow: hidden;
}
#root{
}
/* Full Page Style */
.home-component{
    background-image: url("../home/circuit_board.svg");
}
/* Main Window Styles (not top-bar/sidebar) */
.main{
    background-color: rgb(19, 10, 19);
    display: flex;
    flex-direction: row;
    height: 90vh;
}
/* main-content */
.main-content {
    display: block;
    width: 80vw;
    height: 80vh;
    margin-top: 5vh;
}
.buttonBackground{
    font-size: 30px;
}


/* Add your additional styles for SVG animation or other elements as needed */
