body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

body {
    height: 100vh;
    overflow: hidden
}

.home-component {
    background-image: url(/static/media/circuit_board.041dd3d6c73b7a08610b.svg)
}

.main {
    background-color: #130a13;
    display: flex;
    flex-direction: row;
    height: 90vh
}

.main-content {
    display: block;
    height: 80vh;
    margin-top: 5vh;
    width: 80vw
}

.buttonBackground {
    font-size: 30px
}

.topBar {
    align-items: center;
    background-color: #4f2c92ad;
    cursor: inherit;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between
}

.topBarLeft {
    width: 50%
}

.topBarRight {
    align-items: center;
    width: 50%
}

.topBarItem, .topBarRight {
    display: flex;
    justify-content: center
}

.topBarItem {
    border-radius: 20px;
    color: #fff;
    cursor: inherit;
    padding: 10px;
    transition: all .2s ease;
    -webkit-user-select: none;
    user-select: none;
    width: 20vw
}

.companyContainer {
    display: flex;
    flex-direction: column;
    overflow-y: hidden
}

.companyHeader {
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding-left: 2vw
}

.nameContainer {
    border-color: #fff;
    border-radius: 20px;
    border-style: solid;
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 10px;
    transition: all .2s ease;
    -webkit-user-select: none;
    user-select: none;
    width: 20vw
}

.nameContainer:hover {
    background-color: #4f2c92;
    transition: all .2s ease
}

.customer-component {
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none
}

.customer-component::-webkit-scrollbar {
    display: none
}

.client-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: none
}

.client-list::-webkit-scrollbar {
    display: none
}

.clientContainer {
    max-height: 30vh;
    overflow-y: scroll;
    scrollbar-width: none
}

.clientContainer::-webkit-scrollbar {
    display: none
}

.client-card {
    align-items: center;
    border: 5px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-basis: calc(33.33% - 20px);
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-around;
    margin: 10px 5vw
}

.client-field {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 33.33%
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.client-card .btn {
    border-style: none;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 35px;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 150px
}

.client-card .btn-primary {
    background-color: #13f119
}

.client-card .btn-primary:hover {
    background-color: #1c781e
}

.client-card .btn-danger {
    background-color: #f30707
}

.client-card .btn-danger:hover {
    background-color: #150315e8;
    color: red
}

.nameContainerText {
    margin: 10px
}

.modal-overlay {
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.modal-content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004d;
    max-width: 400px;
    padding: 20px;
    width: 50%
}

.form-control, .modal-header {
    color: #fff;
    font-weight: 700
}

.form-control {
    background-color: #3600f863;
    border-radius: 20px
}

.form-control:focus {
    background-color: #3600f863;
    color: #fff
}

.form-text {
    color: #fff;
    margin-left: 1vw
}

.modal-content {
    background-image: linear-gradient(#4f2c92, #f44);
    border: none
}

.sidebar {
    align-items: center;
    color: #fff;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
    width: 20vw
}

.sidebar, .sidebar-item {
    display: flex;
    padding: 10px
}

.sidebar-item {
    border: 4px solid #0c0c0c00;
    border-radius: 20px;
    cursor: inherit;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    transition: all .2s ease-out;
    width: 10vw
}

.sidebar-item:hover {
    background-color: #4f2c92;
    border: 4px solid #fff;
    border-radius: 20px;
    width: 12.5vw
}

.login-component {
    background-image: url(/static/media/img.7c8bb8f03ddedeb45f45.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

.login-container {
    border: 5px solid;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.login-file {
    display: flex;
    height: 40px;
    justify-content: space-between
}

input, label {
    margin: 5px;
    padding: 5px
}

/*# sourceMappingURL=main.292d5fb3.css.map*/